.header{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px rgb(0, 0, 0);
  padding-top: 0%;

}

.menu{
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-left: 2%;
}

.menu li h1{
  color: rgb(0, 0, 0);
  font-size: 17px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration-line: line-through;
  margin-left: 0%;;
  margin-right: 0%;

}

.logo{
  height: 10px;
  padding-left: 20px;
  padding-top:5px;
  padding-right: 20px;
}

.menu li{
  padding-top: 1px;
  margin-bottom: 1px;
  color: rgb(255, 255, 255);
}

/*botones*/

.boton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 35px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 15px;
  border: none;
  cursor: pointer;
  /* text-transform: uppercase; */
  transition: .2s ease all;
  border-radius: 1px;
  position: relative;
  overflow: hidden;
}

.boton span{
  position: relative;
  z-index: 2;
  transition: .3s ease all;
}


/*BOTON 1*/
.boton.uno span{
  transition: .2s ease-in-out all;
  position: absolute;
  left: 1%;
  opacity: .01;
  color: rgb(176, 56, 56);
}

.boton.uno .icono{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: -40px;
  transition: .2s ease-in-out all;
}

.boton.uno svg {
  color: rgb(0, 0, 0);
  width: 22px;
  height: 22px;
}

.boton.uno:hover {
  background: rgb(255, 255, 255);
}

.boton.uno:hover span{
  color: rgb(0, 0, 0);
  left: 25%;
  right: 25%;
  opacity: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
}


.boton.uno:hover svg{
  opacity: .01;
  text-align: right;
}

.boton.uno:hover .icono{
  left: calc(100% - 50px);
  opacity: 1;
}


