:host{
    padding-left: 10rem;
    padding-right: 10rem;
    display: block;
}
.title{
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.favorite-list{
    list-style: none;
    margin: 0;
    padding: 0;

}
.favorite-list li{
    padding: 1rem;

}
.mini-image{
    width: 5rem;
    height: 7rem;
    align-items: normal;
    color: rgb(0, 0, 0);
}
.divider{
    border-top: solid 1px rgb(0, 0, 0);
}

.title-inside{
    font-weight: 800;
    color: rgb(0, 0, 0);
}
