/* You can add global styles to this file, and also import other style files */
.font1 {
  font-family: 'BhuTuka Expanded One', cursive;
}


.font3 {
  font-family: 'Amatic SC', cursive;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'BhuTuka Expanded One', cursive;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}
